

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .3s ease;
    font-family: "Questrial", sans-serif;
    line-height: 2rem;
    letter-spacing: 1px;
    gap: 2rem;

}



body{
    display: flex;
    width: 100dvw;
    height: 100dvh;
}

section{
    padding: 4rem;
    width: 100dvw;
    height: fit-content;
    justify-content: center;
}


.greetings{
    height: 100%;
    width: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    padding: .5rem 1rem;
}

.hero-section{
    flex-direction: column;
}



.hero-section,
.about-section,
.skills-section,
.projects-section,
.contact-section,
.footer-section{
    display: none;
}

