@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .3s ease;
    font-family: "Questrial", sans-serif;
    line-height: 2rem;
    letter-spacing: 1px;

}


a{
    text-decoration: none;
}


h1,h2{
    font-family: "Poppins", serif;
    font-weight: 700;
}
h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}


/* Greetings Section */

.greetings h1{
    font-size: 4rem;
}

.greetings button{
    font-size: 1.5rem;
}

/*End Greetings Section */


/* Hero Section */


.hero-content-con .left-hero-text h2{
    font-size: 4.5rem;
    font-family: "Questrial", sans-serif;
    font-weight: 100;
}
.hero-content-con .left-hero-text h1{
    font-size: 5rem;
    line-height: 6rem;
}
.hero-content-con .left-hero-text p{
    font-size: 24px;
    line-height: 2.5rem;
    font-weight: 100;
}
.hero-content-con .left-hero-text button{
    font-size: 28px;
}



.characteristics {
    font-size: 1.3rem;
}


/* End of hero Section */




/* About Section */
.icons{
    font-size: 1rem;
    line-height: 0;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 2,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    
}



.address-con{
    text-align: justify;
}


/* Skills Section */
.skills-section .skills-con .skills-card .img-text{
    text-align: center;
}
.skills-section .skills-con .skills-card p{
    text-align: center;
}

/* End of Skills Section */




/* Projects Secrion */

.projects-section{
    gap: 4rem;
}

.projects-section .projects-con .projects-card .gradient-text p{
    line-height: 1.5rem;
}

small{
    font-size: 1rem;
}


/* End of footer */

.hero-section,
.about-section,
.skills-section,
.projects-section,
.contact-section,
.footer-section{
    display: none;
}

